<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <br>
  <br>
  <a href="/urls/new"> Create a new short link here! </a>
  <br>
  <br>
  <ul>
    <% for(let url in urls){ %>
      <li> <a href="/u/<%= url %>"><%= url %></a> &rarr; <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a> || Created Date: <%= urls[url].createdDate %> || Visits: <%= urls[url].clicks %> || <a href="/urls/<%= url %>"><button>Edit</button></a> || <form style="display:inline" method="POST" action=<%=`/urls/${url}/delete`%>><button type="submit" name="Submit">Delete</button></form> </li>
       <% } %>
  </ul>
</body>
</html>