<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortened URL</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <div>
     <p> <b>ShortURL</b> : <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
     <p><form method="post" action="/urls/<%= shortURL %>?_method=PUT">
      <input name="longURL" type="text" value="<%= longURL %>" style="width:300px">
      <button type="submit" name="Submit">Update</button>
     </form>
    </p>
    <P> Clicks: <%= url.visits.length %></P>
    <p> Created Date: <%= url.createdDate %> </p>
    <p> Unique Visits:
      <% let results = {}; %>
      <% for(let i = 0; i < url.visits.length; i++){ %>
        <% results[url.visits[i].visitorId] = true; %>
      <% } %>
      <%= Object.keys(results).length %>
     </p>
    <p> Visits:
      <ul>
        <% for(let i = 0; i < url.visits.length; i++){ %>
          <li> Time: <%= url.visits[i].time %> || VisitorId: <%= url.visits[i].visitorId %> </li>
        <% } %>
      </ul>
  </div>
</body>
</html>